  <div class="p-3 mb-2 bg-warning text-dark" >
     <div class="text-center">
        <h1>Formulario de registro practica 3</h1>
            <p>Hernandez Martinez Christian</p> 
     </div>
  </div>
    <div class="container">
      <div class="row">
          <div class="col-sm-4">
           <h3 class="text-center">Ingreso de datos</h3>
             <label for="exampleInputName">Nombre:</label>
               <input type="text" [(ngModel)]="usuarioRegistro.nombre" name="nombre" class="form-control" placeholder="Ingrese nombre"><br>

             <label>Apellidos:</label>
               <input type="text" [(ngModel)]="usuarioRegistro.apellido" name="apellido"class="form-control" placeholder="Ingrese apellidos">
          </div>
        <div class="col-sm-4">
            <h4 class="text-center">Verifique sus datos</h4><br>
              <div class="text-center">
                 <p class="font-weight-bold">{{usuarioRegistro.nombre}} {{usuarioRegistro.apellido}}</p><br><br>
                 <p class="text-center">¿Sus datos son correctos?</p><br>
              </div>
          <div class="text-center">
             <button type="button" class="btn btn-success btn-block" (click)="registroUsuario()">Guardar</button>
          </div>
        </div>
        <div class="col-sm-4">
          <h3 class="text-center">Datos registrados</h3> 

              <ul class="list-group" *ngFor="let usuario of listaUsuarios"> 
                <li class="upper-roman list-group-item-success text-center ">{{usuario.nombre}} {{usuario.apellido}}</li> </ul><br>
              <input class="btn btn-success btn-block" type="button" value="Actualizar" onclick="window.location.reload()" >
        </div>
      </div>
    </div>  
    
    

 
  
